<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/AddCustomer.css">
</head>
<body>

<header>Add Customer</header>

<!--<form id="customerForm" th:action="@{/customers/save}" th:object="${customers}" method="post"> -->
    <form id="customerForm">
    <label for="name" class="required">Name</label>
    <input id="name" type="text"  autocomplete="name"  />
    <div id="nameError" class="error-message"> </div>

    <label for="phone" class="required">Phone Number</label>
    <input id="phone" type="text" autocomplete="tel"
           maxlength="10"
           inputmode="numeric"
           oninput="this.value = this.value.replace(/[^0-9]/g, '')"/>
    <div id="phoneError" class="error-message"> </div>

    <label for="address">Address</label>
    <input id="address" type="text"   autocomplete="street" />

    <label for="email">Email</label>
    <input id="email" type="email" autocomplete="email" />

    <button onclick="window.location.href='/home'" type="button">Back</button>
    <button type="submit">Save Customer</button>
</form>
<div id="toast"></div>
<script src="/js/common.js"></script>
<script src="/js/AddCustomer.js"></script>

</body>
</html>
