<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Wise Sales Report</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/Reports.css">

</head>

<body>

<header>
    Product Wise Sales Report
</header>

<div class="report-container">

    <h2 class="report-title">Product Wise Daily Sales Report</h2>

    <div class="report-date">
        Report Date:
        <span th:text="${selectedDate}"></span>
    </div>

    <!-- Summary Cards -->

    <!-- Product Details -->

    <table class="report-table">

        <thead>
        <tr>
            <th>Product Name</th>
            <th>Bottles Sold</th>
            <th>Litres Sold</th>
            <th>Sales Amount</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="row : ${report}">
            <td th:text="${row.itemName}"></td>
            <td th:text="${row.numberOfBottles}"></td>
            <td th:text="${row.litres}"></td>
            <td th:text="'₹ ' + ${row.subtotal}"></td>
        </tr>

        <tr th:if="${#lists.isEmpty(reportData)}">
            <td colspan="4">No records found</td>
        </tr>

        </tbody>

    </table>

    <div class="button-group">

        <button class="back-button"
                onclick="history.back()">
            Back
        </button>

        <button class="back-button"
                onclick="window.print()">
            Print
        </button>

    </div>

</div>

</body>
</html>