<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Wise Sales Report</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/Reports.css">

</head>

<body>

<header>
    Current Stock Report
</header>

<div class="report-container">

    <h2 class="report-title">Current Stock Report</h2>

    <!-- Product Details -->

    <table class="report-table">

        <thead>
        <tr>
            <th>Product Name</th>
            <th>Units</th>
            <th>Current Stock in Bottles</th>
            <th>Current Stock in liters</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="row : ${report}">
            <td th:text="${row.productName}"></td>
            <td th:text="${row.units}"></td>
            <td th:text="${row.stockInBottle}"></td>
            <td th:text="${row.stockInMl}"></td>
        </tr>

        <tr th:if="${#lists.isEmpty(reportData)}">
            <td colspan="4">No records found</td>
        </tr>

        </tbody>

    </table>

    <div class="button-group">

        <button class="back-button"
                onclick="history.back()">
            Back
        </button>

        <button class="back-button"
                onclick="window.print()">
            Print
        </button>

    </div>

</div>

</body>
</html>