<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Invoices</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/viewPurchases.css">
</head>
<body>

<h1>All Purchase Invoices</h1>

<form action="/searchPurchaseInvoice" method="get">
    <div id="invoice_div">
        <label for="invoiceId" style="color:#b0c4d4; font-weight:bold; size: 30px;">Purchase Invoice Number:</label>
        <input type="number" id="invoiceId" name="InvoiceId" placeholder="Enter Purchase Number">
        <button type="submit" >Search</button>
    </div>
</form>


<div class="table-wrapper">
    <table>
        <thead>
        <tr>
            <th>Invoice Number</th>
            <th>Vendor Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${PurchaseInvoice}">
            <td th:text="${invoice.invoiceId}"></td>
            <td th:text="${invoice.vendorName}"></td>
            <td>
                <button class="table-button" th:onclick="|window.location.href='@{/purchaseOrder/viewDetails/}${invoice.invoiceId}'|">View</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
      <div class="pagination">
          <a th:if="${currentPage > 0}" th:href="@{'/purchaseOrder/view'(page=${currentPage - 1}, size=${pageSize})}">Previous</a>
          <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
              <a th:href="@{'/purchaseOrder/view'(page=${i}, size=${pageSize})}" th:text="${i + 1}" th:classappend="${i == currentPage} ? 'active'"></a>
          </span>
          <a th:if="${currentPage + 1 < totalPages}" th:href="@{'/purchaseOrder/view'(page=${currentPage + 1}, size=${pageSize})}">Next</a>
      </div>

      <!-- Back button -->
    <button class="back-button" onclick="window.location.href='/home'">Back</button>
</div>
<script src="/js/common.js"></script>
</body>
</html>
